.tablance {
	position: relative;//needed for position of .multi-row-section to work correctly
	font-family: arial;
	font-size: 16px;
	border: 2px solid;
	  height: 400px;
	width: 600px;
	&:focus {
		outline: 3px solid blue;
	}
	>.scroll-body {
		overflow: auto;
		>div {
			position: relative;
		}
	}
	th {
		cursor:pointer;
		padding: 3px;
	}
	.cell-cursor {

		//looks good but is distracting when using arrow-keys. Limit it to mouse-clicks?
		//transition: left .15s ease-out,top .15s ease-out,height .15s ease-out,width .15s ease-out;

		position: absolute;
		cursor:cell;
		outline:2px solid blue;
		&.disabled {
			outline:2px solid red;
		}
		&.edit-mode {
			box-shadow: 1px 1px 7px #222;
			cursor:auto;
		}
		>input,textarea {
			width:100%;
			height: 100%;
			border: none;
			&:focus {
				outline: none;
			}
			font-family: inherit;
			font-size: inherit;
			line-height: inherit;
			resize: none;//specifically for textarea
		}
	}
	.search {
		float: right;
	}
	thead {
		background: #ddd;
	}
	th {
		border-bottom: 1px solid #111;
		border-top: 1px solid #111;
		>.sortSymbol {
			display: inline-block;
			width: 10px;
			position: absolute;
			margin-left: 2px;
		}
	}
	td {
		border-top: 1px solid #ddd;
		border-right: 1px solid #ddd;
		padding: 8px 10px;
		cursor: cell;
		&.select-col {
			text-align: center;
			cursor: default;
			&>div>input {
				transform : scale(1.3);
			}
		}
		&.disabled {
			background-color: #f2f2f2;
		}
	}
	th.expand-col>div {
		display: inline-block;//so that sort arrow doesn't wrap
		margin-right: 3px;
		position: relative;
	}
	td,th {
		&.expand-col {
			cursor:pointer;
			&>div>a {
				display: block;
				margin: auto;
				background: linear-gradient(to bottom, #3DF651, #21A516);
				border-radius: 100px;
				height: 3px;
				width: 3px;
				color: #FFFFFF;
				font-family: Arial;
				padding: 5px;
				box-shadow: 1px 1px 5px #000000;
				border: solid #FFFFFF 2px;
				cursor: pointer;
				text-align: center;
				>span {
					left: -2px;
					position: relative;
					top: -5px;
					font-size: 12px;
					font-weight: 950;
					&::before {
						content: "+";
					}
				}
			}
		}
	}
	tr.selected>td {
			background-color: #bab8db;
		&.disabled {
			background-color: #918fb5;
		}
	}
	tr.expanded>{
		td,th {
			&.expand-col>div>a {
				background: linear-gradient(to bottom, #FD2B2B, #A51616);
				>span::before {
					content: "\2013";
				}
			}
		}
	}
	tr.expansion>td{
		padding: 0;
		border-left: 15px solid #D8D8E7;
		border-bottom: 2px solid #D8D8E7;
		>div {
			overflow: hidden;//hide overflowing content when expanding/contracting-animating
			transition: height .15s ease-out;
			.disabled {
				background-color: #f2f2f2;
			}
			.value:empty::after {
				content: "\00A0";//add non-breaking space to empty cells so they are still rendered at uniform height
			}
			>div.expansion-shadow {
				margin-top: -6px;
				left: 0;
				right: 0;
				position: absolute;
				box-shadow: 0px 5px 6px #ccc;
				height: 5px;
			}
			>table.expansion-list > tbody > tr:first-child > td {
				//if the top row of the expansion is a list hen give its top row a little more padding-top in order
				//to distance the content a little bit from the shadow above. we don't want the whole list-table
				//to move down because that puts its top border in the middle of the shadow and/or cut offs the
				//vertical borders so they don't reach all the way to the top
				padding-top: 10px;
			}
			.collection {
				>span {
					display: inline-block;
					padding: 3px;
				}
				&.delete-controls {
					&:not(.delete-confirming)>:not(.delete) {
						display: none;
					}
					&.delete-confirming>.delete {
						display: none;
					}
					.no {
						margin-right: -2em;
						h4{
							color: red;
						}
					}
				}
			}
			table.expansion-group>tbody>tr>td {
				padding: 0;
				&:first-child>h4 {
					margin-top: 5px;
				}
				>div {
					padding: 0;
				}
			}
			.repeat-insertion td{
				padding: 0;
				color: gray;
			}
			table.expansion-list {
				border-spacing: 0;
				width: 100%;
				>tbody {
					>tr{
						>td.value {
							padding: 5px;
							height: 1px;// it is weird but this is needed for elements inside to be able to have 100%
								//height. This is needed for empty groups or else they will be just a few pixels high
								>.expansion-group {
									height: 100%;
								}
						}
						>td.title {
							// width: 8em;
							// min-width: 8em;
							border-top: none;
							font-weight: bold;
							text-align: right;
						}
					}
					>tr:last-child>td.value {
						border-bottom: 1px solid #ddd;
					}
				}
			}
			h4 {
				margin-top: 5px;
				color: #787878;
				line-height: 2px;
				font-size: 13px;
				margin-bottom: 5px;
				font-weight: 500;
			}
		}
	}
	.group-cell{
		padding: 4px;
		>table {
			&:not(:last-child) {
				margin-bottom: 4px;
			}
			border: 1px solid #bbb;
			width: 100%;
			&:not(.open)>tbody>tr {
				&.empty,>td>div>.empty {
					display: none;
				}
			}
			&.open>tbody>tr,>tbody>tr:not(.empty) + tr:not(.empty) {
				> td>.separator {
					display: block;
				}
			}
			&.closed-render {
				&.open>tbody>tr.group-render {
					display: none;
				}
				&:not(.open)>tbody>tr:not(.group-render) {
					display: none;
				}
			}
			>tbody> {
				tr:not(:first-child)>td {
					padding-top: 0;
				}
				tr>td {
					padding: 6px 10px;
					padding-top: 12;
					border: none;
					padding-left: 4px;
					>.separator {
						border-top: 1px dashed #ccc;
						display: none;
					}
				}
			}
		}
	}
	.tablance-select-container {
		position: absolute;
		box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
		border: 1px solid #ccc;
		background-color: white;
		min-width: 15em;
		>.input-wrapper {
			&:not(.hide) {
				margin: 6px;
				>input {
					border: 1px solid #aaa;
					border-radius: 0.1875rem;
					line-height: 28px;
					width: 100%;
					font-size: 16px;
					&:focus {
						outline: none;
						box-shadow: inset 0 1px 3px rgba(0,0,0,.06),0 0 5px rgba(19,131,179,.7);
					}
				}
			}
			&.hide {
				opacity: 0;
				position: absolute;
				pointer-events: none;
			}
		}
		>div.no-results {
			display: none;
			padding: 10px;
		}
		>div>ul {
			list-style: none;
			padding: 0;
    		margin: 0;
			>li {
				padding: .25em;
				&.selected {
					background-color: #ddd;
					color: black;
				}
				&.highlighted {
					background-color: #5897fb;
    				color: white;
				}
			}
			&.pinned>li{
				color: grey;
			}
		}
	}
	.multi-row-section {
		overflow: visible;//for picker-containers to be able to reach out of the container
		width: 100%;
		position: absolute;
		bottom: 0;
		transition: height .15s ease-out;
		//border:1px solid red;
		background-color: white;
		>div {
			border-top: 1px solid black;
			padding:4px;
			.col {
				display: inline-block;
				overflow: hidden;//No idea why but going into edit-mode without overflow:hidden 
								//makes all siblings shift down
				padding: 1px 5px;
				h3 {
					margin: 5px 0;
					font-weight: bold;
					font-size: medium;
				}
				.cell {
					height: 25px;
					border: 1px solid #ddd;
					padding: 4px;
					overflow: hidden;
					cursor: cell;
					position: relative;//for position of cell-cursor to work correctly
					&.mixed {
						font-style: italic;
					}
				}
			}
		}
	}
}

.pika-container {//added by clox
	position: absolute;//added by clox
	.pika-single {
		z-index: 9999;
		display: block;
		position: relative;
		color: #333;
		background: #fff;
		border: 1px solid #ccc;
		border-bottom-color: #bbb;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

	/*
	clear child float (pika-lendar), using the famous micro clearfix hack
	http://nicolasgallagher.com/micro-clearfix-hack/
	*/
	.pika-single:before,
	.pika-single:after {
		content: " ";
		display: table;
	}
	.pika-single:after { clear: both }

	.pika-single.is-hidden {
		display: none;
	}

	.pika-single.is-bound {
		position: absolute;
		box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
	}

	.pika-lendar {
		float: left;
		width: 240px;
		margin: 8px;
	}

	.pika-title {
		position: relative;
		text-align: center;
	}

	.pika-label {
		display: inline-block;
		position: relative;
		z-index: 9999;
		overflow: hidden;
		margin: 0;
		padding: 5px 3px;
		font-size: 14px;
		line-height: 20px;
		font-weight: bold;
		background-color: #fff;
	}
	.pika-title select {
		cursor: pointer;
		position: absolute;
		z-index: 9998;
		margin: 0;
		left: 0;
		top: 5px;
		opacity: 0;
	}

	.pika-prev,
	.pika-next {
		display: block;
		cursor: pointer;
		position: relative;
		outline: none;
		border: 0;
		padding: 0;
		width: 20px;
		height: 30px;
		/* hide text using text-indent trick, using width value (it's enough) */
		text-indent: 20px;
		white-space: nowrap;
		overflow: hidden;
		background-color: transparent;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 75% 75%;
		opacity: .5;
	}

	.pika-prev:hover,
	.pika-next:hover {
		opacity: 1;
	}

	.pika-prev,
	.is-rtl .pika-next {
		float: left;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
	}

	.pika-next,
	.is-rtl .pika-prev {
		float: right;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
	}

	.pika-prev.is-disabled,
	.pika-next.is-disabled {
		cursor: default;
		opacity: .2;
	}

	.pika-select {
		display: inline-block;
	}

	.pika-table {
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
		border: 0;
	}
	thead {
		background-color: transparent;//added by Clox
	}
	.pika-table th,
	.pika-table td {
		width: 14.285714285714286%;
		padding: 0;
		border:none;//added by Clox
		&.is-empty {
			cursor:default;
		}
	}

	.pika-table th {
		color: #999;
		font-size: 12px;
		line-height: 25px;
		font-weight: bold;
		text-align: center;
	}

	.pika-button {
		cursor: pointer;
		display: block;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		outline: none;
		border: 0;
		margin: 0;
		width: 100%;
		padding: 5px;
		color: #666;
		font-size: 12px;
		line-height: 15px;
		text-align: right;
		background: #f5f5f5;
		height: initial;
	}

	.pika-week {
		font-size: 11px;
		color: #999;
	}

	.is-today .pika-button {
		color: #33aaff;
		font-weight: bold;
	}

	.is-selected .pika-button,
	.has-event .pika-button {
		color: #fff;
		font-weight: bold;
		background: #33aaff;
		box-shadow: inset 0 1px 3px #178fe5;
		border-radius: 3px;
	}

	.has-event .pika-button {
		background: #005da9;
		box-shadow: inset 0 1px 3px #0076c9;
	}

	.is-disabled .pika-button,
	.is-inrange .pika-button {
		background: #D5E9F7;
	}

	.is-startrange .pika-button {
		color: #fff;
		background: #6CB31D;
		box-shadow: none;
		border-radius: 3px;
	}

	.is-endrange .pika-button {
		color: #fff;
		background: #33aaff;
		box-shadow: none;
		border-radius: 3px;
	}

	.is-disabled .pika-button {
		pointer-events: none;
		cursor: default;
		color: #999;
		opacity: .3;
	}

	.is-outside-current-month .pika-button {
		color: #999;
		opacity: .3;
	}

	.is-selection-disabled {
		pointer-events: none;
		cursor: default;
	}

	.pika-button:hover,
	.pika-row.pick-whole-week:hover .pika-button {
		color: #fff;
		background: #ff8000;
		box-shadow: none;
		border-radius: 3px;
	}

	/* styling for abbr */
	.pika-table abbr {
		border-bottom: none;
		cursor: help;
	}
}